<div class="container-fluid bg-dark min-vh-100">
  <div class="row">
        <div class="text-center mt-3">
          <h2 class="text-white">Url-Opener</h2>
        </div>
  </div>
  <div class="row p-2">
    <div class="col-lg-10 m-auto p-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="p-5 box">
            <textarea rows="10" (keyup)="stringToArray()" [(ngModel)]="userInput"  class="inputbox p-1" placeholder="Enter Urls" >
            </textarea>
            <h3 class="text-dark mt-3">Number of Links <span [ngStyle]="{'color': count < 50 ? 'green' : 'red'}">{{count}}</span></h3>
          </div>

          <div class="text-center">
             <button class="btn btn-success p-3" (click)="openUrl()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
